
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

* {
    /* margin: 0 y padding: 0 = para quitar los espacios automaticos entre los elementos*/
    margin: 0;
    padding: 0;

}


body {
    background-image: url(./img/letras2.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.9;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #F5E1CE;
}


#title {
    text-align: center;
    /* background-color: #F2F2F2; */
    background-color: #F5E1CE;
    font-size: 300%;
}


.logoStyle {    
    /* background-color: #F2F2F2; */
    background-color: #F5E1CE;
    position: relative;
    line-height: 50px;

}

/* NAV-BAR */

.navBar {
    text-align: center;
    display: flex;
    /*para que el contenido se alinie*/
    justify-content: space-between;
    height: 35px;
    max-width: 992px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

ul {
    list-style-type: none;
    overflow: hidden;
    /* background-color: #e08474; */
    background-color: #CD6A4F;
    display: inline-block;

}

li {
    float: left;

}

li a {
    text-decoration: none;
    border-radius: 16px;
    background-color: #CD6A4F;
    /* border: none; */
    color: #000000;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

  }

  li a:hover {
    background-color:#d54e3e;
    color: #f8f8f8;
    border-radius: 10px;
    padding: 30px 30px;

  }

  .active {
    background-color: #d54e3e;
    /* background-color: #EEB987; */
    border-radius: 8px;
  }

  /* .btnregistro { 
    background-color: #e08474;
    border: none;
    color: #1c2826;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .btnregistro:hover{
    background-color:#1c2826; 
    color: white; 
    border: 2px solid #e08474;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }*/


  main, section {
    /* background-color: #F2F2F2; */
    background-color: #F5E1CE;
} 

.imgHome {
    /* width: 100px; */
    /* height: 100px; */
    padding: 50px;
    background-color: #CD6A4F;
    box-shadow: 10px 10px;
    width: 85 0px;
    margin-left: auto;
    margin-right: auto;
}



  
