
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

* {
    /* margin: 0 y padding: 0 = para quitar los espacios automaticos entre los elementos*/
    margin: 0;
    padding: 0;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-size: 20px;

}


body {
    background-image: url(./img/letras2.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
    /* opacity: 0.9; */
    /* font-weight: 400;
    font-style: normal; */
    /* background-color: #F5E1CE; */
    
}


/* NAV-BAR */
.header {
  /* background-color:  #CD6A4F; */
  background-color: #CD6A4F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75x;
  padding: 5px 10%;
}


.header .logo {
  cursor: pointer;
}

.header .logo img{
  height: 70px;
  width: auto;
  border-radius: 20px;
  transition: all 0.3s;

}

.header .logo img:hover {
  transform: scale(1.2);
}


.header .nav-links {
  list-style: none;

}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
  
}

.header .nav-links li:hover {
  transform: scale(1.1);
}


.header .nav-links a {
  font-size: 700;
  color: black;
  text-decoration: none;
}


.header .nav-links li a:hover {
  color:#F5E1CE;
  font-weight: bolder;
}


/* estilos la boton de registro */

.header .btn button {
  font-weight: 700;
  color: #F5E1CE;
  padding: 9px 25px;
  background: #d54e3e;
  /* border: none; */
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


.header .btn button:hover {
  background-color: #EEB987;
  border-color: #CD6A4F;
  color:black;
  transform: scale(1.1);
}






main, section { 
  opacity: 0.85; 
/* background-color: #F5E1CE; */
}

.imgHome {
    /* width: 100px; */
    /* height: 100px; */
    padding: 50px;
    background-color: #CD6A4F;
    box-shadow: 10px 10px;
    width: 85 0px;
    margin-left: auto;
    margin-right: auto;
}


/* TITULO */

.titulo h1 {
  height: 70px;
  width: auto; 
  font-size: 330%;
  text-align: center;
  margin-top: 5px;
  /* text-align: center;
  background-color: #F2F2F2; 
  background-color: #F5E1CE;
  font-size: 300%; */
  
}

.conteiner-texto {
  /* opacity: 0.8;  */
  background-color: #F5E1CE;
  text-align:justify;
  margin: 10px;
  padding: 28px;
width: 1400px;
height: 398px;

border: 1px solid #8B7373;
border-radius: 20px;
}
  
