
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

* {
    /* margin: 0 y padding: 0 = para quitar los espacios automaticos entre los elementos*/
    margin: 0;
    padding: 0;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-size: 20px;
    box-sizing: border-box;


}


body {
    /* background-image: url(./img/letras2.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right; */

    /* background: linear-gradient(to top, transparent, rgba(239,46,28,.5)), url(./img/portada.png);
    background: linear-gradient(to top, transparent, rgba(239,46,28,.4)), url(./img/portada.png); */
    background: linear-gradient(to top, transparent, rgba(239,46,27,.3)), url(./img/portada2.png);
    background: linear-gradient(to top, transparent, rgba(249, 153, 79, 0.3)), url(./img/portada2.png);
    background: linear-gradient(to right bottom, transparent, rgba(249, 153, 79, 0.3)), url(./img/portada2.png);
    background: linear-gradient(to left bottom, transparent, rgba(161, 138, 120, 0.4)), url(./img/portada2.png);
    background: linear-gradient(to left bottom, transparent, rgba(161, 138, 120, 0.4)), url(./img/portada2.png);
    /* opacity: 0.85;  */

    background-size: cover ;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     height: 1000vh;
     background-position:center;

    
}


/* NAV-BAR */
.header {
  /* background-color:  #CD6A4F; */
  background-color: #CD6A4F;
  height: 80px;
  /* position: fixed;
  width: 100%;
  top:0;
  left: 0; */

  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%; */

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 10%; */

  max-width: 922px;
  margin: 0 auto;
} 


.header .logo {
  cursor: pointer;

}

.header .logo img{
  height: 70px;
  width: auto;
  padding: 4px;
  line-height: 80px;
  border-radius: 22px;
  transition: all 0.3s;

}

.header .logo img:hover {
  transform: scale(1.2);
}


.nav-link {
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 40px;
}

.nav-menu-item {
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;


}

.nav-menu-link {   
  font-size: 700;
  color: black;
  position: relative;
  padding: 5px 0;
}


.nav-menu-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  background: linear-gradient(to right, black , #f88a23,#F5E1CE);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;

}



.nav-menu-link:hover,
.nav-menu-link_active  {
  color:#F5E1CE;
  font-weight: bolder;
  transition: 0.5s;


}

.nav-menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;

}



.nav-toggle {
  color: #F5E1CE;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;

  display: none;

}




/* estilos del boton de registro */

.header .btn button {
  font-weight: 700;
  color: #F5E1CE;
  padding: 9px 25px;
  background: #d54e3e;
  /* border: none; */
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


.header .btn button:hover {
  background-color: #EEB987;
  border-color: #CD6A4F;
  color:black;
  transform: scale(1.1);
}


/* BREACKPOINT: menu hamburguesa*/

@media (max-width: 768px) {
  body, main {
    padding-top: 70px;
  }


  .header {
    height:60px;
  }
  

  
  .logo img {
    height: 35px;
    line-height: 60px;
    padding: 0 30px;
  }
  
  
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #EEB987;
    position: fixed;
    left: 0;
    top: 60px;

    width: 100%; 
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;

    left:100% ;
    transition: left 0.3s;
    
  }
  
 .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover {
    color:#d54e3e;
    font-weight: bolder;
  
  
  }

  .nav-menu-link::after {
    background: linear-gradient(to right, #F5E1CE ,#d54e3e,black);
  
  }

  .btn button {
    font-weight: 400;
    line-height: 12px;
    height: 35px;
    border-radius: 30px;
  }
  

  .nav-toggle {
  
    display: block; 
  
  }
  
  .nav-menu_visible {
    left: 0;

  }

}





main  { 
  opacity: 0.85;  
/* background-color: #F5E1CE; */

}


.conteiner-portada {
  max-width: 10000px;
  /* background-color: rgba(0, 0, 0, .7); */
/* background-color: rgba(60, 53, 53, 0.7);   */
  background-color: rgba(126, 126, 126, 0.5); 
  background-color: rgba(48, 46, 46, 0.3);
  background-color: rgba(34, 27, 27, 0.4);
  border-radius: 30px;
  padding: 50px;
  margin: 50px;
  color: #fff;
  display: flex;
    justify-content: center;
    align-items: center; 
    

}




/* TITULO */

.titulo h1 {
  height: 70px;
  width: auto; 
  font-size: 330%;
  text-align: center;
  margin-top: 5px;
  /* text-align: center;
  background-color: #F2F2F2; 
  background-color: #F5E1CE;
  font-size: 300%; */
  
}

.conteiner-texto {
  /* background-color: #F5E1CE;  */

  text-align:justify;
  margin: 10px;
  padding: 28px;
width: 1400px;
height: 398px;

border: 1px solid #8B7373;


height: 70%;
width: 70%;
opacity: 0.6;
transition: .8s ease;
background-color: #0b0b0b;
background-color: #F5E1CE;
color: #000;
border-radius: 1000px;

}


.conteiner-texto:hover  {
  opacity: 0.9;
}

.texto-descrpicion {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
    padding-top: 40px;
}





/* BOTON "SABER MAS" */

.conteiner_btnmas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 45px;
}

.btn_2 {
  width: 140px;
  height: 40px;
  font-size: 6px;
  background: none;
  background-color: #F5E1CE;
  border-radius: 16px;
  color: #fffdfd;
  color: #000;
  border: solid 1px;
}

.btn_2:hover {
  border-radius: 16px;
  border: solid #000;
  background-color: #CD6A4F;
  -webkit-text-fill-color: #0b0b0b;
  text-shadow: none;
}






/* .conteinerImg {
  display: flex;
  height: 550px;
  background-color: #CD6A4F;
  justify-content: space-between;
  align-items:center;
  padding: 30px 10%;
}  */






/*Seccion: CARDS*/

#seccioncard {
  height: 60%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #CD6A4F;
  box-shadow: 0 5px 10px #000;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.card1 {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 35px;

}

.card1 .face1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.card1 .front1 {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 6px 10px #000;
  border-style: solid;
  border-radius:20px ;
  border-color: #000000;
}

.card1 .front1 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.75; */

}


.card1 .front1 h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  line-height: 55px;
 background: rgba(68, 65, 65, 0.5);
 background:  #EEB987;
  color: #000;
  text-align: center;
  border: solid 2px #0a0a0a;
  text-align: center;
  font-size: 25px;
  font: bold;
  border-radius: 12px;

}



.card1 .back1 {
  transform: perspective(600px) rotateY(180deg);
  padding: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  background-color: #EEB987;

}



.card1 .back1 h2 {
  justify-content: center;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.card1 .back1 p {
  font-size: 18px;
}

.card1:hover .front1 {
  transform: perspective(600px) rotateY(180deg);

}

.card1:hover .back1 {
  transform: perspective(600px) rotateY(360deg);
}




.card1 .back1 .btn1-card {
  text-decoration: none;
 /* padding: 0.5rem 1rem; */
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background-color: #F5E1CE;
  border-radius: 12px;
  color: #000;
 border: solid 1px;
 top: 100px;
width: 100%;
 height: 55px; 
line-height: 45px;
background: rgba(68, 65, 65, 0.7);
 color: #d54e3e;
 color: #EEB987;
 text-align: center;
 border: solid 2px #0a0a0a;
 text-align: center;
 font-size: 20px;
 font: bold;
 margin-top: 75px;
  margin-bottom: 10px;
}

#btn-leyendo {
  margin-top: 40px;
  margin-bottom: 10px;
}

.card1 .back1 .btn1-card:hover {
  border-radius: 16px;
  border: solid #000;
  background-color: #CD6A4F;
  background-color: #F5E1CE;
  -webkit-text-fill-color: #0b0b0b;
  text-shadow:#0b0b0b;
  box-shadow: 0 5px 10px #000;
}


#link-lectura{
  color: #c43323;
  font-weight: bold;
text-transform:uppercase;
text-decoration:underline;
}







  /* FOOTER */


  .logoFooter {
    height: 80px;
    margin-bottom: 1rem;
    height: 70px;
    width: auto;
    border-radius: 20px;
  }


  /* Estilos del footer */ 
  footer { 
    background-color: #333; 
    /* background-color: #F5E1CE; */
    color: white; text-align: center; 
    padding: 15px 0; 
  } 
  
  footer .social-icons { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
  }

  
  footer .social-icons li { 
    display: inline-block; 
  } 

  footer .social-icons a {
     color: white; 
     text-decoration: none; 
     font-size: 24px; 
     transition: color 0.3s; 
    } 
    
  footer .social-icons a:hover { 
      color: #d54e3e; /* Cambia el color al pasar el mouse*/
  
      } 

      footer .textopie {
        text-decoration: overline;

      }

