/* Seccion: REGISTRO */

@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-size: 20px;

}

body {
    /* background-color: #F5E1CE; */
    

    background: linear-gradient(to top, transparent, rgba(239,46,27,.3)), url(./img/portada2.png);

    /* opacity: 0.85;  */

    background-size: cover ;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     height: 1000vh;
     background-position:center;

}


.header {
    background-color:#CD6A4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {

    height: 70px;
    width: auto;
    border-radius: 20px;
    transition: all 0.3s;

}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;

}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    
}

.header .nav-links li:hover {
    transform: scale(1.1);
}


.header .nav-links a {
    font-size: 700;
    /* color: #F2F2F2; */
    /* color:#F5E1CE; */
    color: black;
    text-decoration: none;
}


.header .nav-links li a:hover {
    /* color:black; */
    color:#F5E1CE;
    font-weight: bolder;
}


/* estilos la boton de registro */

/* .header .btn button {
    font-weight: 700;
    color: #F5E1CE;
    padding: 9px 25px;
    background: #d54e3e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.header .btn button:hover {
    background-color: #F5E1CE;
    color:black;
    transform: scale(1.1);
} */









/* FORMULARIO */

.fondo-reg {
    /* background-image: url(./img/letras2.png); */
    background-color:#c4c6c17b;
    /* background-size:cover;
    background-repeat: no-repeat;
    background-position: right; */
    opacity: 0.9;
    border-radius: 10px;



}

.conteiner-registro {
    /* background-image: url(./img/letras2.png); */
    background-color: #F2F2F2;
    border-radius: 30px;
    /* opacity: 0.9; */
    height: 50%;
    width: 50%;
    margin: 60px auto;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    border-radius: 30px;
    padding: 50px;
    /* border: 1px solid #8B7373;
    border-radius: 20px; */
    align-content: center;
    align-items: center;

}

.registro-form {
    padding: 30px;
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    vertical-align: middle;

    /* opacity: 0.9; */
    border: 1px solid #8B7373;
}

/* BOTON CREAR CUENTA */

  .button {
    display: inline-block;
    border-radius: 8px;
    background-color: #d54e3e; 
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

  }

  /* .button:hover {
   background-color: #8B7373; 
   background-color: #d54e3e; 
  } 
   */
  .button:hover span {
    padding-right: 25px;


  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  
  }

  /* BOTON BORRAR */

  .button-borrar {
    display: inline-block;
    border-radius: 8px;
    background-color: #d54e3e; 
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button-borrar {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

  }
  
  .button-borrar:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

  }
  
  .button-borrar:hover {
    padding-right: 25px;
    background-color: #8B7373;


  }
  
  .button-borrar:hover:after {
    opacity: 1;
    right: 0;
  
  }