/* Seccion: REGISTRO */

@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-size: 20px;

}

body {
    background-color: #F5E1CE;
}


.header {
    background-color:#CD6A4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {

    height: 70px;
    width: auto;
    border-radius: 20px;
    transition: all 0.3s;

}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;

}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    
}

.header .nav-links li:hover {
    transform: scale(1.1);
}


.header .nav-links a {
    font-size: 700;
    /* color: #F2F2F2; */
    /* color:#F5E1CE; */
    color: black;
    text-decoration: none;
}


.header .nav-links li a:hover {
    /* color:black; */
    color:#F5E1CE;
    font-weight: bolder;
}


/* estilos la boton de registro */

.header .btn button {
    font-weight: 700;
    color: #F5E1CE;
    padding: 9px 25px;
    background: #d54e3e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.header .btn button:hover {
    background-color: #F5E1CE;
    color:black;
    transform: scale(1.1);
}









/* FORMULARIO */

.fondo-reg {
    background-image: url(./img/letras2.png);
    background-color:#c4c6c17b;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.9;

}

.conteiner-registro {
    /* background-image: url(./img/letras2.png); */
    background-color: #F2F2F2;
    border-radius: 30px;
    opacity: 0.9;
    height: 50%;
    width: 50%;
    margin: 50px auto;
    align-content: center;
}

.registro-form {
    padding: 30px;
    background-color: #F2F2F2;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.9;
}
